.navbar {
    background-color: #5F0F40;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar-brand {
color: whitesmoke
}

#btnSearch {
    background-color: #E9C46A
}

#btnSaved {
    background-color: #0F4C5C
}