.navbar {
  background-color: #636D68;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  color: white;
  cursor: default;
}

#btnSaved,
#btnSearch {
  color: white;
}

#btnSaved:hover,
#btnSearch:hover {
  font-size: 1.05rem;
}

#btnSaved:active,
#btnSearch:active {
  font-size: 1rem;
}

