.jumbotron {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/27/13/53/books-2447391_1280.jpg");
  opacity: 0.75;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px !important;
  width: 100%;
  padding-top: 10;
  text-align: center;
  font-family: 'Merriweather', serif;
  border-radius: 0;
  /* margin-top: -6vh; */
}

.jumboTitle,
.jumboText {
  text-shadow: 2px 3px 4px #000000;
}
