* {
  font-family: 'Montserrat', sans-serif;
  color: #636d68;
  }

.card {
  width: 100%;
  padding-bottom: 2vh;
  border: 2px solid #636d68;
}

.card-image {
  padding-left: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.card-title {
  font-family: 'Merriweather', serif;
  color: #636d68;
}

.btnRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.deleteBook {
  margin-left: 10px;
  background-color: #608773;
  color: white;
}

.backToSearchBtn {
  margin-left: 5px;
  background-color: #C47E9E !important;
  color: white
}

.backToSearchBtn:hover {
  margin-left: 5px;
  background-color: #C47E9E !important;
  color: white;
  font-size: 1.05rem;
}

.backToSearchBtn:active {
  color: white !important;
  font-size: 1rem;
}