.card{
    background-color: #5F0F40;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    }
    
    .saved-list{
      padding: 20px;
      background-color: #e5e8ed;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
    
    .deleteBook {
      margin-left: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    
    .viewBook {
      margin-left: 5px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
  
    #results {
      color: whitesmoke;
  }
  
  .btn-light {
      background-color: #0F4C5C;
      color: whitesmoke;
  }
  
  .btn-light-2 {
      background-color: #E9C46A;
      color: whitesmoke;
  }
  
  h3 {
    color: black;
  }