

.resultsContainer {
    margin-top: 3vh;
    width: 100%;
    height: relative;
    border: 1px solid black;
    margin-bottom: 5vh;
    padding-left: 3vw;
    padding-bottom: 3vh;
}

.searchResultsTitle {
    padding-top: 3vh;
}